<div class="container publisher">
    <div class="row">
        <div class="col-xs-12"style="margin-bottom:20px; font-family: PingFangSC-Medium; font-size: 33px; color: #333333; text-align:center; line-height: 36px;">
            <h2>{{ i18n "main_osDistribution_title" }}</h2>
        </div>
        <div class="col-xs-12 col-md-4 imgdivleft"  >
            <a href="https://isrc.iscas.ac.cn/eulixos/#/download" target="_blank">
                <img id="imgLeft" src="/img/oslogo/zhongkeyuanlogo.png" alt="">
            </a>
        </div>
        <div class="col-xs-12 col-md-4 imgdivmiddle" >
            <a href="http://download.turbolinux.com.cn:8011"target="_blank" >
                <img id="imgMiddle" src="/img/oslogo/turbolinuxlogo.png" alt="" >
            </a>
        </div>
        <div class="col-xs-12 col-md-4 imgdivright">
            <a href="http://download.isoft-linux.com.cn/iso/server/5.x/Kunpeng/iSoftServerOS-Kunpeng-5.1-aarch64-RC-Community.iso"target="_blank">
                <img id="imgRight" src="/img/oslogo/cetclogo.png" alt="" >
            </a>
        </div>
    </div>
</div>
<div class="community-parters" style="width:100%;background: #FAFAFA;margin-top:40px;padding-bottom:30px;">
    <div class="container friendsLink">
        <div class="row">
            <div class="col-md-12"
                style="margin-top:20px; margin-bottom:20px;text-align: center;">
                <h2>{{ i18n "main_FriendlyCommunities_title" }}</h2>
            </div>
            <div class="community-parters-item">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <a href="https://mulanos.oschina.net/" target="_blank">
                            <img src="/img/clients/logo01.png">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <a href="https://www.huaweicloud.com/kunpeng/" target="_blank">
                            <img src="/img/clients/logo02.png">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <a href="https://dw.pcl.ac.cn/dwmain/main/" target="_blank">
                            <img src="/img/clients/logo03.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
